.list {
 overflow:hidden;
 max-height: 0;
 transition: max-height 1s ease;
}

.list__item {
  text-transform: uppercase;
}

.list__item--selected {
  color: var(--color-main);
  list-style-type: disc;
}